{% extends 'base.html.twig' %}

{% block title %}Modifier une reservation{% endblock %}

{% block body %}
    <h1>Modifier votre reservation</h1>

    {{ include('Reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('Reservation_index') }}">Retour</a>

    {{ include('Reservation/_delete_form.html.twig') }}
{% endblock %}
