{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.beginAt ? reservation.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.endAt ? reservation.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.title }}</td>
                <td>
                    <a href="{{ path('Reservation_show', {'id': reservation.id}) }}">Afficher</a>
                    <a href="{{ path('Reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune reservation est effectuée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Reservation_new') }}">Ajouter</a>
{% endblock %}
