{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <h1>Nouvelle Reservation</h1>

    {{ include('Reservation/_form.html.twig') }}

    <a href="{{ path('Reservation_index') }}">Retour à la liste</a>
{% endblock %}
