{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ reservation.beginAt ? reservation.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ reservation.endAt ? reservation.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ reservation.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Reservation_index') }}">Retour</a>

    <a href="{{ path('Reservation_edit', {'id': reservation.id}) }}">Modifier</a>

    {{ include('Reservation/_delete_form.html.twig') }}
{% endblock %}
