<form method="post" action="{{ path('reunion_delete', {'id': reunion.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette salle ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ reunion.id) }}">
    <button class="btn">Supprimer</button>
</form>
