{% extends 'base.html.twig' %}

{% block title %}Edit Reunion{% endblock %}

{% block body %}
    <h1>Modifier Salle</h1>

    {{ include('reunion/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('reunion_index') }}">Retour</a>

    {{ include('reunion/_delete_form.html.twig') }}
{% endblock %}
