{% extends 'base.html.twig' %}

{% block title %}Salle de reunion{% endblock %}

{% block body %}
    <h1>Reunion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Etat</th>
                <th>Utilisabilite</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reunion in reunions %}
            <tr>
                <td>{{ reunion.id }}</td>
                <td>{{ reunion.nom }}</td>
                <td>{{ reunion.etat }}</td>
                <td>{{ reunion.utilisabilite }}</td>
                <td>{{ reunion.description }}</td>
                <td>
                    <a href="{{ path('reunion_show', {'id': reunion.id}) }}">Lister</a>
                    <a href="{{ path('reunion_edit', {'id': reunion.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reunion_new') }}">Ajouter</a>
{% endblock %}
