{% extends 'base.html.twig' %}

{% block title %}Nouvelle salle{% endblock %}

{% block body %}
    <h1>Ajouter nouvelle salle</h1>

    {{ include('reunion/_form.html.twig') }}

    <a href="{{ path('reunion_index') }}">Retour</a>
{% endblock %}
