{% extends 'base.html.twig' %}

{% block title %}Liste de salles{% endblock %}

{% block body %}
    <h1>Reunion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reunion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reunion.nom }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ reunion.etat }}</td>
            </tr>
            <tr>
                <th>Utilisabilite</th>
                <td>{{ reunion.utilisabilite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reunion.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reunion_index') }}">Retour</a>

    <a href="{{ path('reunion_edit', {'id': reunion.id}) }}">Modifier</a>

    {{ include('reunion/_delete_form.html.twig') }}
{% endblock %}
